<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-8 col-12  mh-100">
            <img src="{{sneaker.imagePath}}" class="img-fluid " alt="Responsive image">
        </div>
        <div class="col-md-6 col-sm-8 col-12  mh-100">
            <h4>{{sneaker.brand}}</h4>
            <h5>{{sneaker.model+" "+sneaker.name}}</h5>
            <h6> Kod produktu: {{sneaker.sku}}</h6>
            <br>
            <span class="text-muted">Kolorystyka: {{sneaker.colorway}}</span>
            <h6 class="">{{sneaker.price}} PLN</h6>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="sizePicked">
                <option selected value=0 disabled>wybierz rozmiar</option>
                <option *ngFor="let size of sneaker.sizesAvailable"
                value={{size.size}}
                [disabled]="true"
                [disabled]="size.availability>0 ? false:true"

                >{{size.size}} {{size.availability>0 ? '':'- wyprzedany'}}</option>
              </select>
              <button class="btn btn-success mt-2 w-100 p-1 mt-3" [disabled]="sizePicked>=36 ? false:true" (click)="addToCart(sneaker)">dodaj do koszyka</button>
        </div>

    </div>
</div>
