<app-desktop-header
  class="d-none d-sm-block"
  [isUserLoggedIn]="isUserLoggedIn"
  [totalItems]="totalItems"
  [filterByBrand]="filterByBrand.bind(this)"
  [filterByModelAndBrand]="filterByModelAndBrand.bind(this)"
  [showOnSale]="showOnSale.bind(this)"
  [logout]="logout.bind(this)"
  [resetFiltersAndGoHome]="resetFiltersAndGoHome.bind(this)">
</app-desktop-header>

<!-- Mobile header - visible on small screens only -->
<app-mobile-header
  [isUserLoggedIn]="isUserLoggedIn"
  [resetFiltersAndGoHome]="resetFiltersAndGoHome.bind(this)"
  [totalItems]="totalItems">
</app-mobile-header>

<!-- Mobile side navigation -->
<app-mobile-side-nav
  [isUserLoggedIn]="isUserLoggedIn"
  [filterByBrand]="filterByBrand.bind(this)"
  [filterByModelAndBrand]="filterByModelAndBrand.bind(this)"
  [showOnSale]="showOnSale.bind(this)"
  [logout]="logout.bind(this)">
</app-mobile-side-nav>
