<div class="row  mt-3">
    <div class="col-md-3 col-sm-12">
        <div class="list-group">
                <div class="list-item shadow text-center rounded my-2">
                    <h5 class="mt-2">MOJE KONTO</h5>
                </div>
                <div class="list-item shadow text-center rounded my-2">
                    <h5 class="mt-2">MOJE DANE</h5>
                </div>
                <div class="list-item shadow text-center rounded my-2">
                    <h5 class="mt-2">MOJE ADRESY</h5>
                </div>
                <div class="list-item shadow text-center rounded my-2">
                    <h5 class="mt-2">ZAMÓWIENIA</h5>
                </div>
                <div class="list-item shadow text-center rounded my-2">
                    <h5 class="mt-2" (click)="logout()">WYLOGUJ</h5>
                </div>
        </div>
    </div>


    <div class="col-md-9 col-sm-12">
        <div class="row  m-auto mt-2">
            <h4>Hej ...imie</h4>
        </div>

        <div class="row shadow m-auto mt-3 p-2">
            <h4>Jesteś ze mną od ...</h4>
        </div>

        <div class="row m-auto mt-3">
            <div class="col-sm-6 shadow">
                <div class="row">
                    <div class="col-sm-6">
                        <h6>
                            Ostatnie zamówienie
                            <br>
                            <small class="text-muted">ile produktów</small>
                        </h6>
                    </div>
                    <div class="col-sm-6 text-end">
                        <h6>
                            nr zamówienia
                            <br>
                            <small class="text-muted">sku</small>
                        </h6>
                    </div>
                </div>
                <hr>
                <div class="row ">
                    <div class="col-sm-6">
                        <h6>
                            2
                            <br>
                            <small class="text-muted">3</small>
                        </h6>
                    </div>
                    <div class="col-sm-6 text-end">
                        <h6>
                            4
                            <br>
                            <small class="text-muted">5</small>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid text-center">
                        <button type="button" class="btn btn-lg btn-primary mb-2" disabled>szczegóły zamówienia</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 shadow">
                <div class="row">
                    <div class="col-sm-6">
                        <h6>
                            6
                            <br>
                            <small class="text-muted">7</small>
                        </h6>
                    </div>
                    <div class="col-sm-6 text-end">
                        <h6>
                            8
                            <br>
                            <small class="text-muted">9</small>
                        </h6>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <h6>
                            11
                            <br>
                            <small class="text-muted">12</small>
                        </h6>
                    </div>
                    <div class="col-sm-6 text-end">
                        <h6>
                            13
                            <br>
                            <small class="text-muted">14</small>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid text-center">
                        <button type="button" class="btn btn-lg btn-primary mb-2" disabled>szczegóły zamówienia</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
